.Body {
  text-align: center;
}

.Body-intro {
  font-size: large;
  text-align: center;
}

.Body h1 {
  font-family: 'Roboto Condensed Light';
  color: whitesmoke;
  font-size: 5em;
  margin: none;
  padding: none;
  
}

.Body h2 {
  font-family: 'Roboto Condensed Light Italic';
  color: whitesmoke;
  font-size: 2em;
  margin: none;
  padding: none;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url('graphic_elements/san_jose.jpg') no-repeat center center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'Roboto Condensed Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
    url('RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed Light Italic';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Condensed Light Italic'),
    local('RobotoCondensed-LightItalic'),
    url('RobotoCondensed-LightItalic.ttf') format('truetype');
}
