.ErrorAnalysis {
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 20px;
  width: 50%;
  margin-top: 50px;
}

.ErrorAnalysis label {
    width: auto;
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
}
